h3 {
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
}

h2 {
   font-size: 40px;
   text-align: center;
   margin: 30px 0 0 0;
}

.tit {
  font-size: 32px;
}

/* --- Categoria --- */

.categoria header {
  width: 100%;
  height: 130px;
  /*padding: 10px;*/
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom: 15px solid #d9d9d9;
}
        
        
        
.categoria header h2 {
  color: #fff;
  /*color: #0092bf !important;
  color: #f14a29 !important;*/
  font-size: 90px !important;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}
        
.categoria .middle img {
  margin-top: 180px;
}

#html5-hoje {
  background: #fff url(../img/ilustras/html5-readiness.jpg) 10px 10px no-repeat;
}

#html5boilerplate {
  background: #fff url(../img/ilustras/boilerplate.jpg) 10px 10px no-repeat;
}

#fim {
  background: #fff url(../img/ilustras/fim.jpg) 10px 10px no-repeat;
}

#validator {
  background: #fff url(../img/ilustras/validator.jpg) 10px 10px no-repeat;
}

#polyfill {
  background: #fff url(../img/ilustras/polyfill.jpg) 10px 10px no-repeat;
}
#intro { background: #fff url(../img/ilustras/html5-logo.jpg) 10px 10px no-repeat; }
#roots { background: #fff url(../img/ilustras/roots.jpg) 10px 10px no-repeat; }
#zentropy { background: #fff url(../img/ilustras/zentropy.jpg) 10px 10px no-repeat; }
#html5live { background: #fff url(../img/ilustras/html5live.jpg) 10px 10px no-repeat; }
#soufoda { background: #fff url(../img/ilustras/soufoda.jpg) 10px 10px no-repeat; }

#cms-img img {
  margin-top: 165px;
}


#ie6 { background: #fff url(../img/ilustras/ie6.jpg) 10px 10px no-repeat; }
#w3c { background: #fff url(../img/ilustras/w3c.jpg) 10px 10px no-repeat; }
#pe-vs-gd { background: #fff url(../img/ilustras/pe-vs-gd.jpg) 10px 10px no-repeat; }

#github {
  background: #fff url(../img/ilustras/github.jpg) 10px 10px no-repeat;
}

#flash {
  background: #fff url(../img/ilustras/flash.jpg) 10px 10px no-repeat;
}

#modernizr {
  background: #fff url(../img/ilustras/modernizr.jpg) 10px 10px no-repeat;
}

#caniuse {
  background: #fff url(../img/ilustras/caniuse.jpg) 10px 10px no-repeat;
}

#no-slide {
  background: #fff url(../img/ilustras/no.jpg) 10px 10px no-repeat;
}

#yepnope-slide {
  background: #fff url(../img/ilustras/yepnope.jpg) 10px 10px no-repeat;
}

#instrucoes {
  background: #fff url(../img/ilustras/laptop-mobile.jpg) 0px 0px no-repeat;
}

#o-que-e {
  background: #fff url(../img/ilustras/bg-o-que-e.jpg) 10px 10px no-repeat;
}

#semantica-estrutura-ontem {
  background: #fff url(../img/ontem.png) 0px 0px no-repeat;
}

#semantica-estrutura-hoje {
  background: #fff url(../img/hoje.png) 0px 0px no-repeat;
}

#left-init-key {
  display: none;
}

.html {
  position: absolute;
  left: 310px;
  top: 250px;
}

.css {
  position: absolute;
  left: 510px;
  top: 250px;
}

.js {
  position: absolute;
  left: 710px;
  top: 250px;
}

/* --- Cabeçalho dos títulos --- */

header {
  width: 860px;
  height: 55px;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: #0092bf;
  text-transform: uppercase;
  color: #fff;
  font-size: 44px;
}

/* --- Fonte --- */
    
@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../font/Chunkfive-webfont.eot');
    src: url('../font/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Chunkfive-webfont.woff') format('woff'),
         url('../font/Chunkfive-webfont.ttf') format('truetype'),
         url('../font/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../font/League_Gothic-webfont.eot');
    src: url('../font/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/League_Gothic-webfont.woff') format('woff'),
         url('../font/League_Gothic-webfont.ttf') format('truetype'),
         url('../font/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
    
body {
  font: 20px "LeagueGothicRegular", Verdana, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px; top: 0px;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}

.presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
  background: #d9d9d9;
}

.slides {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: none;
  -webkit-transition: -webkit-transform 1.5s ease-in-out;
  -moz-transition: -moz-transform 1.5s ease-in-out;
  -o-transition: -o-transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out;
}

.slide {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 900px;
  height: 700px;
  left: 50%;
  top: 50%;
  margin-top: -350px;
  background-color: #fff;
  opacity: 0.35;

  -webkit-transform: scale(0.8) translateZ(0);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);

  -webkit-transition-property: margin, -webkit-transform, opacity;
  -webkit-transition-duration: 0.3s, 0.3s, 0.3s;
  -webkit-transition-timing-function: ease-in-out;

  -moz-transition-property: margin, -moz-transform, opacity;
  -moz-transition-duration: 0.3s, 0.3s, 0.3s;
  -moz-transition-timing-function: ease-in-out;

  -o-transition-property: margin, -moz-transform, opacity;
  -o-transition-duration: 0.3s, 0.3s, 0.3s;
  -o-transition-timing-function: ease-in-out;

  /* NOTE(slightlyoff): simpler animations for slower boxes */
  /*
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
  */
}

.slide p, .slide textarea {
  font-size: 20px;
}

.slide .counter {
  color: #999999;
  position: absolute;
  left: 20px;
  bottom: 20px;
  /*display: block;*/
  display: none;
  font-size: 12px;
  width: 100%;
}

.slide:not(.transitionSlide) .counter:after {
  content: '';
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  bottom: 0;
  right: 45px;
  opacity: 0.25;
}

.offline-storage .counter:after {
  background-image: url(http://www.html5rocks.com/static/images/identity/classes_32/HTML5_Offline_Storage_32.png);
}

.device-access .counter:after{
  background-image: url(http://www.html5rocks.com/static/images/identity/classes_32/HTML5_Device_Access_32.png);
}

.realtime-communication .counter:after {
  background-image: url(http://www.html5rocks.com/static/images/identity/classes_32/HTML5_Connectivity_32.png);
}

.performance .counter:after {
  background-image: url(http://www.html5rocks.com/static/images/identity/classes_32/HTML5_Performance_32.png);
}

.semantics .counter:after {
  background-image: url(http://www.html5rocks.com/static/images/identity/classes_32/HTML5_Semantics_32.png);
}

.multimedia .counter:after {
  background: url(http://www.html5rocks.com/static/images/identity/classes_32/HTML5_MultiMedia_32.png);
}

.effects .counter:after {
  background: url(http://www.html5rocks.com/static/images/identity/classes_32/HTML5_3D_Effects_32.png);
}

.styling .counter:after {
  background: url(http://www.html5rocks.com/static/images/identity/classes_32/HTML5_Styling_32.png);
}

.slide.title > .counter,
.slide.segue > .counter,
.slide.mainTitle > .counter {
  display: none;
}

.slide.transitionSlide h2 {
  font-size: 40px;
  margin: 0;
  line-height: 10px;
}
.slide.transitionSlide p {
  margin: 0;
}

.slide.transitionSlide img {
  opacity: 0.25;
  width: 64px;
  height: 64px;
}

.vbox {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;

  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;

  display: box;
  box-orient: vertical;
  box-align: stretch;
}

.hbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;

  display: box;
  box-orient: horizontal;
  box-align: stretch;
}

.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.noflex {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}

.boxcenter {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}

.slide.far-past {
  display: block;
  margin-left: -2400px;
}

.slide.past {
  visibility: visible;
  display: block;
  margin-left: -1400px;
}

.slide.current {
  visibility: visible;
  display: block;
  margin-left: -450px;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  opacity: 1.0;
}

.slide.future {
  visibility: visible;
  display: block;
  margin-left: 500px;
}

.slide.far-future {
  display: block;
  margin-left: 1500px;
}

body.three-d div.presentation {
  /*background: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 1000, from(#333), to(#000));        */
}

body.three-d div.slides {
  -webkit-transform: translateX(50px) scale(0.8) rotateY(10deg);
  -moz-transform: translateX(50px) scale(0.8) rotateY(10deg);
  -o-transform: translateX(50px) scale(0.8) rotateY(10deg);
  transform: translateX(50px) scale(0.8) rotateY(10deg);
}

/* Content */
/*
  Font sizes:
  header h1 - 50px
  h2, p - 20px
  default, pre, input - 16px
*/

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/yanone/YanoneKaffeesatz-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: url('/src/fonts/inconsolata/Inconsolata.ttf') format('truetype');
}
@font-face {
	font-family: 'JunctionRegular';
	src: url('/src/fonts/junction02/junction02-webfont.eot');
	src: local('☺'), url('/src/fonts/junction02/junction02-webfont.woff') format('woff'), url('/src/fonts/junction02/junction02-webfont.ttf') format('truetype'), url('/src/fonts/junction02/junction02-webfont.svg#webfontwzJOjWvv') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('/src/fonts/leaguegothic/leaguegothic-webfont.eot');
	src: local('☺'), url('/src/fonts/leaguegothic/leaguegothic-webfont.woff') format('woff'), url('/src/fonts/leaguegothic/leaguegothic-webfont.ttf') format('truetype'), url('/src/fonts/leaguegothic/leaguegothic-webfont.svg#webfontWgfhmMGx') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*header {
  font-family: Arial;
  font-weight: normal;
  letter-spacing: -.05em;
  color: #0054AB;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  position: absolute;
  left: 30px;
  top: 25px;
  margin: 0;
  padding: 0;
  font-size: 50px;
}*/

h1 {
  font-size: 100%;
  display: inline;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/*h2 {
  font-family: Arial;
  color: black;
  font-size: 20px;
  padding: 0;
  margin: 15px 0 5px 0;
}
      
h2:first-child {
  margin-top: 0;
}*/

section, footer {
  font: Arial;
  font-weight: normal;
  color: #3f3f3f;
  text-shadow: white 0px 1px 0px, rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 75px 10px 0;
  
  display: block;
  overflow: hidden;
}

section {
  margin-bottom: -70px; 
}

footer {
  font-size: 12px;
  margin: 20px 0 0 30px;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 110%;
  border-bottom: 2px solid #3f3f3f;
}

.gmap a {
  line-height: 100%;
  border-bottom: none;
}

li {
  list-style: none;
  padding: 10px 0;
}

button {
  font-size: 20px;
}

pre button {
  margin: 2px;
}

.summary {
  font-size: 30px;
}

.bullets {
  font-size: 40px;
}

section.left {
  float: left;
  width: 390px;
}

section.small {
  font-size: 24px;
}

section.small ul {
  margin: 0 0 0 15px;
  padding: 0;
}

section.small li {
  padding-bottom: 0;
}

section.middle {
  line-height: 68px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 700px;
  width: 900px;
}

pre {
  font: 'Inconsolata';
  font-size: 18px;
  color: #000;
  text-align: left;
  padding: 10px 20px;
  background: #f2f2f2;
  border: 3px solid #f14a29;
  text-transform: none !important;
  /*text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;*/
}

pre select {
  font-family: Monaco, Courier;
  border: 1px solid #f14a29;
}
  
input {
  font-size: 16px;
  margin-right: 10px;
  font-family: Helvetica;
  padding: 3px 5px;
}
input[type="range"] {
  width: 100%;
}

button {
  font-family: Verdana;
}

button.large {
  font-size: 32px;
}
  
pre b {
  font-weight: normal;
  color: #f14a29;
  text-shadow: #f14a29 0 0 1px;
  /*letter-spacing: -1px;*/
}
pre em {
  font-weight: normal;
  font-style: normal;
  color: #18a600;
  text-shadow: #18a600 0 0 1px;
}
pre input[type="range"] {
  height: 6px;
  cursor: pointer;
  width: auto;
}

div.example {
  display: block;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 36px;
}

video {
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.key {
  font-family: 'Inconsolata';
  color: black;
  display: inline-block;
  padding: 6px 10px 3px 10px;
  font-size: 25px;
  line-height: 30px;
  text-shadow: none;
  letter-spacing: 0;
  bottom: 10px;
  position: relative;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
}

.key { font-family: Arial; }

:not(header) > .css,
:not(header) > .js,
:not(header) > .html,
:not(header) > .key {
  margin: 0 5px;
  bottom: 4px;
}

.two-column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.summary li::before, .bullets li::before {
  content: '· ';
}

.stroke {
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 1px;
} /* currently webkit-only */

.center {
  text-align: center;
}

.formula {
  font-size: 50px;
}

#presentation-counter {
  color: #fff;
  font: 100px;
  letter-spacing: 1px;
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
}

.hsl-value {
  display: inline-block;
  width: 50px;
}

[data-build] > * {
  -webkit-transition: opacity 0.5s ease-in-out 0.2s; 
  -moz-transition: opacity 0.5s ease-in-out 0.2s; 
  -o-transition: opacity 0.5s ease-in-out 0.2s; 
}

[data-build] > *.to-build {
  opacity: 0;
}