		body { background-image: url(../fundos/fundo_fotos.gif); background-repeat: repeat../fundos/fundo_index.gif); background-repeat: repeat}

		td {  text-align: center; vertical-align: text-top; background-color: #FFFFFF; border: 2px #666666 solid; clip:   rect(   )}
h2 { font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-style: normal; font-weight: normal; color: #FF0000; text-decoration: none; text-align: center; vertical-align: middle; margin-top: 0em; margin-bottom: 0em; }
