		body {  background-attachment: fixed; background-color: #FFFFFF; background-image: none;
 background-repeat: no-repeat; background-position: center center}

		p {  font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;
 font-style: normal; font-weight: normal; color: #000000; text-decoration: none; text-align: center;
 vertical-align: middle}

		h4 {  font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 12pt;
 font-style: normal; font-weight: bold; color: #000000; text-decoration: none; text-align: center;
 vertical-align: middle; margin-top: 0em; margin-bottom: 0em;}

		h5 { font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 10pt;
 font-style: normal; font-weight: bold; color: #000000; text-decoration: none; text-align: center;
 vertical-align: middle; line-height: normal; margin-top: 0em; margin-bottom: 0em;}

		h6 { font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;
 font-style: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; text-align: center;
 vertical-align: middle; margin-top: 0em; margin-bottom: 0em; }

		table {  background-color: #FFFFFF; border: medium #000000 solid; width: 100%; clip:   rect(   )}

		td {  text-align: left; vertical-align: middle; background-color: #FFFFFF; border: 1px #000000 solid}
