		body {  background-attachment: fixed; background-color: #009966; background-image: none;
 background-repeat: no-repeat; background-position: center center}

		p {  font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;
 font-style: normal; font-weight: normal; color: #FFFF00; text-decoration: none; text-align: center;
 vertical-align: middle}

		h4 {  font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 12pt;
 font-style: normal; font-weight: normal; color: #0000CC; text-decoration: none; text-align: center;
 vertical-align: middle; margin-top: 0em; margin-bottom: 0em;}

		h5 { font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 10pt;
 font-style: normal; font-weight: normal; color: #FF0000; text-decoration: none; text-align: center;
 vertical-align: middle; line-height: normal; margin-top: 0em; margin-bottom: 0em;}

		h6 { font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;
 font-style: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; text-align: center;
 vertical-align: middle; margin-top: 0em; margin-bottom: 0em; }

		table {  background-color: #FFFFCC; border: 15px #FFCC33 outset; width: 70%}

		td {  text-align: left; vertical-align: middle; background-color: #000000; border: 1px #FFFFFF solid}
